out/
.idea/workspace.xml

out/production/LR 8/Brain.class

*.class

out/production/LR 8/Canvas.class

out/production/LR 8/GraphicPanel.class

out/production/LR 8/MainForm$BottomPanel.class

out/production/LR 8/MainForm$TopPanel.class

out/production/LR 8/MainForm.class

out/production/LR 8/MainForm.class
